*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    line-height: 1.5;
}

img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

a {
    // display: block;
    text-decoration: none;
}

button {
    border: none;
}