<div class="menu bg-light d-flex flex-column justify-content-between">
    <nav class="d-flex flex-column align-items-start">
        <img class="logo-img" src="/assets/images/logo-ANSWER.svg" alt="logo">
        <a class="a-link fw-bold d-flex align-items-center mb-4" href="#">
            <span class="material-icons me-3">
                insert_chart
            </span>Dashboard
        </a>
        <a class="a-link fw-bold d-flex align-items-center mb-4" href="#">
            <span class="material-icons me-3">
                forum
            </span>Question
        </a>
        <a class="a-link fw-bold d-flex align-items-center mb-4" href="index.html"><span class="material-icons me-3">
                assignment
            </span>Assignment
        </a>
        <a class="a-link fw-bold d-flex align-items-center mb-4" href="#">
            <span class="material-icons me-3">
                video_library
            </span>Course
        </a>
        <a class="a-link fw-bold d-flex align-items-center mb-4" href="admin.html">
            <span class="material-icons me-3">
                group
            </span>Admin
        </a>
        <a class="a-link fw-bold d-flex align-items-center mb-4" href="#">
            <span class="material-icons me-3">
                settings
            </span>Settings
        </a>
    </nav>

    <div class="info d-flex align-items-start">
        <div class="avator b-inline-block rounded-circle overflow-hidden me-3">
            <a href="#"><img src="/assets/images/andychen.jpeg" alt="avator">avator</a>
        </div>
        <div class="text">
            <h6 class="text-dark fw-bold mb-1">Andy Chen</h6>
            <small class="text-secondary mb-0">andy0401@mail.com</small>
        </div>
    </div>
</div>